extends layout

block content
    link(rel='stylesheet', href='/stylesheets/camera.css')

    .photo-wrap
        img(src="/images/food/salad.svg")
    .footer.flex-wrapper
        .box.col-4
            a(href='/regProduct')
                i.material-icons cancel
        .box.col-4
            a(href='/regProduct2')
                .btn
        .box.col-4
