doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

    script(type="text/javascript" src="/jquery/dist/jquery.min.js")
  body
    .container
      block content

