@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12;
    padding: 4px; }
  .flex-wrapper .col-10 {
    flex: 10;
    padding: 4px; }
  .flex-wrapper .col-8 {
    flex: 8;
    padding: 4px; }
  .flex-wrapper .col-6 {
    flex: 6;
    padding: 4px; }
  .flex-wrapper .col-4 {
    flex: 4;
    padding: 4px; }
  .flex-wrapper .col-3 {
    flex: 3;
    padding: 4px; }
  .flex-wrapper .col-2 {
    flex: 2;
    padding: 4px; }
  .flex-wrapper .col-1 {
    flex: 1;
    padding: 4px; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12;
    padding: 4px; }
  .flex-wrapper .col-10 {
    flex: 10;
    padding: 4px; }
  .flex-wrapper .col-8 {
    flex: 8;
    padding: 4px; }
  .flex-wrapper .col-6 {
    flex: 6;
    padding: 4px; }
  .flex-wrapper .col-4 {
    flex: 4;
    padding: 4px; }
  .flex-wrapper .col-3 {
    flex: 3;
    padding: 4px; }
  .flex-wrapper .col-2 {
    flex: 2;
    padding: 4px; }
  .flex-wrapper .col-1 {
    flex: 1;
    padding: 4px; }

.inputWithIcon {
  position: relative;
  height: 36px; }
  .inputWithIcon input {
    color: #F39C12;
    background-color: transparent;
    padding-left: 40px;
    width: 100%;
    outline: none;
    border: none;
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(243, 153, 18, 0.24); }
    .inputWithIcon input::placeholder {
      color: #F39C12; }
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 4px;
    padding: 6px 8px;
    color: #F39C12;
    font-size: 18px; }

textarea {
  width: 100%;
  height: 72px;
  border: none;
  background-color: transparent;
  color: #F39C12;
  padding: 8px;
  outline: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12);
  box-shadow: 2px 2px 4px 2px rgba(243, 153, 18, 0.24); }
  textarea::placeholder {
    color: #F39C12; }

input {
  color: #F39C12;
  background-color: transparent;
  padding-left: 8px;
  width: 100%;
  outline: none;
  border: none;
  height: 24px;
  box-shadow: 0 2px 0 rgba(243, 153, 18, 0.24);
  margin-bottom: 8px; }
  input::placeholder {
    color: #F39C12; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12;
    padding: 4px; }
  .flex-wrapper .col-10 {
    flex: 10;
    padding: 4px; }
  .flex-wrapper .col-8 {
    flex: 8;
    padding: 4px; }
  .flex-wrapper .col-6 {
    flex: 6;
    padding: 4px; }
  .flex-wrapper .col-4 {
    flex: 4;
    padding: 4px; }
  .flex-wrapper .col-3 {
    flex: 3;
    padding: 4px; }
  .flex-wrapper .col-2 {
    flex: 2;
    padding: 4px; }
  .flex-wrapper .col-1 {
    flex: 1;
    padding: 4px; }

.card {
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 375px - 40px;
  height: 300px;
  background-color: #fff;
  color: #F39C12;
  transition: all .3s ease; }
  .card:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.6);
    cursor: pointer; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12;
    padding: 4px; }
  .flex-wrapper .col-10 {
    flex: 10;
    padding: 4px; }
  .flex-wrapper .col-8 {
    flex: 8;
    padding: 4px; }
  .flex-wrapper .col-6 {
    flex: 6;
    padding: 4px; }
  .flex-wrapper .col-4 {
    flex: 4;
    padding: 4px; }
  .flex-wrapper .col-3 {
    flex: 3;
    padding: 4px; }
  .flex-wrapper .col-2 {
    flex: 2;
    padding: 4px; }
  .flex-wrapper .col-1 {
    flex: 1;
    padding: 4px; }

.rotate-icon {
  transform: rotate(180deg); }

.dropdown {
  position: relative; }
  .dropdown:hover .dropdown-arrow {
    transform: rotate(180deg); }
  .dropdown:hover .dropdown-content {
    display: block; }
  .dropdown .dropdown-btn {
    display: flex;
    height: 32px;
    background: transparent;
    color: #F39C12;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 2px rgba(243, 153, 18, 0.24); }
    .dropdown .dropdown-btn .name {
      width: 54px;
      text-align: center;
      line-height: 32px;
      font-size: 12px; }
    .dropdown .dropdown-btn .dropdown-icon, .dropdown .dropdown-btn .dropdown-arrow {
      line-height: 32px;
      margin: 0 8px; }
    .dropdown .dropdown-btn .dropdown-arrow {
      transition: all 0.3s ease-in-out; }
  .dropdown .dropdown-content {
    z-index: 1;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fff2ef;
    top: 40px;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
    .dropdown .dropdown-content .option {
      display: flex;
      color: #F39C12;
      height: 32px;
      line-height: 32px; }
      .dropdown .dropdown-content .option .name {
        text-indent: 8px;
        font-size: 14px; }
      .dropdown .dropdown-content .option:hover {
        background-color: #cccccc; }
      .dropdown .dropdown-content .option .option-icon {
        font-size: 24px;
        margin: 0 12px 0 8px;
        line-height: 32px; }
    .dropdown .dropdown-content .bottom-shadow {
      -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12); }

.header {
  background-color: red; }

.sort-wrap {
  margin-top: 4px;
  display: flex; }

.product-list {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
  padding: 4px; }
  .product-list .product-wrap {
    width: calc(50% - 8px);
    height: 114px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.24);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4px; }
    .product-list .product-wrap img {
      width: 100%;
      height: 80px; }
    .product-list .product-wrap .product-info {
      padding: 12px 4px;
      display: flex;
      font-size: 14px; }
      .product-list .product-wrap .product-info .product-name {
        font-weight: bold; }
      .product-list .product-wrap .product-info .product-price {
        color: #F39C12; }

/*# sourceMappingURL=search.css.map */