@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12;
    padding: 4px; }
  .flex-wrapper .col-10 {
    flex: 10;
    padding: 4px; }
  .flex-wrapper .col-8 {
    flex: 8;
    padding: 4px; }
  .flex-wrapper .col-6 {
    flex: 6;
    padding: 4px; }
  .flex-wrapper .col-4 {
    flex: 4;
    padding: 4px; }
  .flex-wrapper .col-3 {
    flex: 3;
    padding: 4px; }
  .flex-wrapper .col-2 {
    flex: 2;
    padding: 4px; }
  .flex-wrapper .col-1 {
    flex: 1;
    padding: 4px; }

* {
  box-sizing: border-box; }

a {
  color: #F39C12;
  text-decoration: none !important; }

body {
  padding: 50px;
  font: 18px 'Roboto', Helvetica, Arial, sans-serif;
  color: #704f2a;
  background-color: #cccccc; }

.content {
  height: calc(667px - 58px);
  overflow-y: scroll; }

.phone {
  padding: 0 12px 0 12px;
  width: 399px;
  height: 823px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 36px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.36);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.36);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.36); }
  .phone .phone-header {
    width: 100%;
    height: 60px;
    background-color: transparent;
    position: relative; }
    .phone .phone-header .cam {
      position: absolute;
      top: calc(50% - 5px);
      left: calc(35% - 4px);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #050505; }
    .phone .phone-header .speaker {
      position: absolute;
      width: 60px;
      height: 4px;
      background-color: #050505;
      top: calc(50% - 2px);
      left: calc(50% - 30px);
      border-radius: 12px; }
  .phone .phone-footer {
    width: 100%;
    height: 108px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center; }
    .phone .phone-footer .phone-btn {
      border-radius: 100%;
      border: solid 1px #cdad00;
      width: 52px;
      height: 52px;
      -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }

.container {
  width: 375px;
  height: 667px;
  background-color: #fff2ef;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.12); }
  .container .header {
    color: #F39C12;
    height: 58px;
    background-color: #fff;
    z-index: 100;
    -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center; }
    .container .header #logo {
      width: 100px; }
    .container .header i {
      margin: 0 24px 0 24px; }
      .container .header i:hover {
        color: #f7ba5b;
        cursor: pointer; }
      .container .header i:active {
        color: #c87f0a; }

.test {
  border: solid 1px black; }

.none-visible {
  visibility: hidden; }

.product-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.12); }
  .product-img img {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }

/*# sourceMappingURL=style.css.map */